<button mat-icon-button routerLink="/">
  <mat-icon>arrow_back</mat-icon>
</button>

<form
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col justify-center items-center"
>
  <h2>Inscription</h2>

  <mat-form-field appearance="outline" class="w-full max-w-80">
    <mat-label>Nom d'utilisateur</mat-label>
    <input matInput formControlName="username" type="text" required />
    <mat-error *ngIf="registerForm.get('username')?.hasError('required')"
      >Ce champ est requis</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full max-w-80">
    <mat-label>Adresse e-mail</mat-label>
    <input matInput formControlName="email" type="email" required />
    <mat-error *ngIf="registerForm.get('email')?.hasError('required')"
      >Ce champ est requis</mat-error
    >
    <mat-error *ngIf="registerForm.get('email')?.hasError('email')"
      >Entrez une adresse e-mail valide</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full max-w-80">
    <mat-label>Mot de passe</mat-label>
    <input matInput formControlName="password" type="password" required />
    <mat-error *ngIf="registerForm.get('password')?.hasError('required')"
      >Ce champ est requis</mat-error
    >
    <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')"
      >Le mot de passe doit contenir au moins 8 caractères, une lettre
      majuscule, une lettre minuscule, un chiffre et un caractère
      spécial</mat-error
    >
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!registerForm.valid"
  >
    S'inscrire
  </button>
</form>
